// Loader

@keyframes l5 {

    0%,
    100% {
        background-size: 0 100%, 0 100%, 100% 0, 100% 0
    }

    50% {
        background-size: 55% 100%, 55% 100%, 100% 0, 100% 0
    }

    50.01% {
        background-size: 0 100%, 0 100%, 100% 55%, 100% 55%
    }
}