@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.catalog__card {
    position: relative;
    grid-column: span 3;
    background: #f4f4f4;
    border-radius: 24px;
    border: 8px solid #cececec0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    cursor: pointer;

    transition: border 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
        transition: transform 0.4s ease-in-out;
    }

    &-title {
        position: absolute;
        width: 250px;
        bottom: 7%;
        left: 7%;
        font-weight: 800;
        font-size: 1.2vw;
        color: #0F0F10;
        text-transform: uppercase;

        transition: transform 0.4s ease-in-out, font-size 0.4s ease-in-out;
    }

    // для длинной карточки
    &-wide {
        grid-column: span 4;
    }

    img {
        transition: transform 0.4s ease-in-out;
    }

    &:hover img {
        transform: scale(1.03);
    }

    &:hover {
        border-color: #424242;
    }
}

.catalog-title {
    @include title;
    font-size: 14px;
}

.catalog__card:hover .catalog__colors {
    opacity: 1;
    transform: translateY(0);
}

/* ========= ИЗБРАННОЕ ========= */
.catalog__favorite {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background: #e0e0e0;
    z-index: 5;
    transition: 0.4s ease-in-out;

    &:hover {
        background: #5b5b5b;
    }
}


/* ========= ЦВЕТА ========= */
.catalog__colors {
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    gap: 8px;
    z-index: 5;
    opacity: 0;
    transition: 0.4s ease-in-out;

    span {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        cursor: pointer;
        transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;

        &:hover {
            opacity: 0.7;
            border: 1px solid #0F0F10;
            transform: scale(1.15);
        }
    }

    span:nth-child(1) {
        background: #5b5b5b;
    }

    span:nth-child(2) {
        background: #d6c7a1;
    }

    span:nth-child(3) {
        background: #5a5ce6;
    }
}

/* ========= ИНФО ========= */
.catalog__info {
    position: absolute;
    left: 7%;
    right: 7%;
    bottom: 27px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 5;

}

.catalog__text {
    position: relative;
    padding-top: 10px; // = высота заголовка
}

.catalog__desc {
    position: relative;
    display: block;
    font-size: 14px;
    color: #0F0F10;
    opacity: 0;
    transform: translateY(0px);
    transition: 0.4s ease-in-out;
}

.catalog__price {
    opacity: 0;
    transform: translateX(-20px);
    transition: 0.4s ease-in-out;
    font-weight: 800;
    align-self: flex-start;
    color: #0F0F10;
}

/* ========= полоска ========= */
.catalog__divider {
    position: absolute;
    left: 7%;
    bottom: 65px;

    width: 0;
    height: 1px;
    background: #0F0F10;

    opacity: 0;
    transition: 0.4s ease-in-out;
}

/* ========= HOVER ========= */
.catalog__card:hover {

    box-shadow: rgba(0, 0, 0, 0.08) 0px 16px 32px, rgba(0, 0, 0, 0.04) 0px 6px 12px;

    .catalog__card-title {
        opacity: 1;
        font-size: 14px;
        transform: translate(-7px, -10px);
    }

    .catalog__desc {
        opacity: 1;
        transform: translateY(7px);
    }

    .catalog__price {
        opacity: 1;
        font-size: 14px;
        transform: translateY(0);
    }

    .catalog__divider {
        width: 86%;
        opacity: 1;
    }
}

@media (max-width: 1366px) {
    .catalog__card {
        position: relative;
        grid-column: span 4;
    }
}

@media (max-width: 480px) {

    .catalog__card {
        height: 257px;
        border-color: #424242;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 16px 32px, rgba(0, 0, 0, 0.04) 0px 6px 12px;

        img {
            transform: scale(1);
        }

        .catalog__colors {
            opacity: 1;
            transform: translateY(0);
        }

        .catalog__card-title {
            opacity: 1;
            font-size: 14px;
            transform: translate(-7px, -10px);
        }

        .catalog__desc {
            opacity: 1;
            transform: translateY(7px);
        }

        .catalog__price {
            opacity: 1;
            font-size: 14px;
            transform: translateY(0);
        }

        .catalog__divider {
            width: 86%;
            opacity: 1;
        }
    }
}