@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.product {
    margin-bottom: 100px;
    margin-left: auto;
    width: 368px;
    height: 142px;
    z-index: 2;
}

.product-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 24px;
    overflow: hidden;
    background: rgba(233, 228, 219, 0.43);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
        background: rgba(255, 255, 255, 0.43);
    }


    &:hover {
        .product-info h3 {
            transform: translateY(-10px);
        }
    }

    .catalog-link {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 8px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        opacity: 0.6;
        transition: 0.2s ease;
        margin-top: 16px;
    }

    .catalog-link {
        opacity: 0;
    }

    &:hover {
        .catalog-link {
            opacity: 1;
        }
    }

    .product-img-box {
        width: 130px;
        height: 120px;
        margin: 10px 0 10px 0;
        padding: 20px 0 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(12px);
        border: 5px solid var(--card-dark);
        border-radius: 20px;
        background: rgb(255, 255, 255);
        z-index: 3;

        img {
            transform: translateX(11px) scale(1);
            transition: transform 0.2s ease;
            padding-top: 15px; // сдвинул вниз
            width: 90px;
            height: auto;
            z-index: 3;
        }
    }

    &:hover {
        .product-img-box {
            img {
                transform: translateX(6px) scale(1.1);
            }
        }
    }

    .product-info {
        background: var(--card-dark);
        color: white;
        width: 180px;
        padding: 34px 24px 24px 36px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(-10px);
        border-radius: 0 20px 20px 0;

        h3 {
            display: block;
            margin: 0;
            font-weight: 900;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 1.2;
            transition: transform 0.2s ease;
        }
    }
}