@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.product {
    margin-bottom: 100px;
    margin-left: auto;
    width: 368px;
    height: 142px;
    z-index: 2;
}

.product-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(233, 228, 219, 0.43);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    transition: 0.8s;
    cursor: pointer;

    .catalog-link {
        opacity: 0;
    }

    &:hover {
        .catalog-link {
            opacity: 1;
        }
    }

    .product-img-box {
        width: 101px;
        height: 119px;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid var(--glass-border);
        z-index: 2;

        img {
            width: 200px;
            height: auto;
            z-index: 2;
        }
    }

    .product-info {
        background: var(--card-dark);
        color: white;
        width: 180px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            font-weight: 900;
            font-size: 18px;
            text-transform: uppercase;
            margin: 0;
            line-height: 1.2;
        }
    }
}