@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.showcase {
    margin: 0 72px 70px auto;
    width: 542px;
    z-index: 2;

    // подложка
    &__substrate {
        position: absolute;
        left: 165px;
        width: 165px;
        height: 183px;
        background-color: var(--card-dark);
        z-index: 1;
    }

    @media (max-width: 480px) {
        display: none;
    }
}

.showcase-card-link {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.showcase-card {
    padding-left: 125px;
    display: flex;
    justify-content: flex-start;
    height: 199px;
    // align-items: stretch;
    align-items: center;
    border-radius: 32px;
    overflow: hidden;
    background: rgba(233, 228, 219, 0.43);
    box-shadow: 0 4px 39px 0 rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);

    cursor: pointer;
    transition: background 0.2s ease, box-shadow 0.2s ease;

    transform-style: preserve-3d; // для гсап анимации
    will-change: transform; // для гсап анимации

    &:hover {
        background: rgba(255, 255, 255, 0.43);
        box-shadow:
            0 28px 56px rgba(0, 0, 0, 0.12),
            0 12px 24px rgba(0, 0, 0, 0.06);
    }

    &:hover {
        .showcase-info h3 {
            transition: transform 0.4s ease;
            transform: translateY(-10px);
        }
    }

    .catalog-link {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: -0.02em;
        opacity: 0.6;
        transition: 0.2s ease-in-out;
        margin-top: 16px;
    }

    .catalog-link {
        opacity: 0;
    }

    &:hover {
        .catalog-link {
            transition: opacity 0.4s ease-in-out;
            opacity: 1;
        }
    }

    .showcase-img-box {
        width: 142px;
        height: 183px;
        margin: 10px 0 10px 0px;
        padding: 20px 0 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(0px);
        border: 8px solid var(--card-dark);
        border-radius: 32px;
        background: rgb(255, 255, 255);
        overflow: hidden;
        z-index: 1;
        pointer-events: none; // для гсап анимации

        img {
            will-change: transform; // для гсап анимации
            transform: translateX(3px) scale(1);
            padding-top: 15px; // сдвинул вниз
            width: 120px;
            height: auto;
            z-index: 3;
            pointer-events: none; // для гсап анимации
            transition: transform 0.4s ease;
        }
    }

    &:hover {
        .showcase-img-box {
            img {
                transform: translateX(6px) scale(1.1);
            }
        }
    }

    .showcase-info {
        background: var(--card-dark);
        color: white;
        width: 257px;
        height: 183px;
        padding: 71px 24px 54px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(10px);
        border-radius: 0 32px 32px 0;
        z-index: 2;

        h3 {
            display: block;
            margin: 0;
            font-weight: 400;
            font-style: normal;
            font-size: 22px;
            letter-spacing: -0.44px;
            font-family: $font-heading;
            text-transform: uppercase;
            line-height: 100%;
            transition: transform 0.2s ease;
        }
    }
}