// из старого проекта, надо удалить или изменить!!!

@mixin grid-content {
    margin-left: 80px;
    display: grid;
    grid-template-columns: 143px 1fr;
    gap: 57px;
    max-width: 1252px;
}

@mixin title {
    margin: 0;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
}

@mixin text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;


    p {
        margin: 0;
    }
}

@mixin img-bg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

// мобилки от 430
@mixin grid-content-mobile {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    max-width: 100%;
    margin: 60px 20px 40px;
}

@mixin img-bg-mobile {
    border-radius: 16px;
}