// Шрифты
$font-primary: 'Manrope',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

$font-heading: 'Climate Crisis';

// Цвета
$bg-header: rgba(218, 218, 218, 0.4);
// $title-main: rgba(0, 161, 143, 1);
$brand-red: rgba(0, 161, 143, 1);
$text-black: #0F0F10;
$text-gray: #0F0F10;
$glass-bg: rgba(255, 255, 255, 0.4);
$glass-border: rgba(255, 255, 255, 0.2);
$card-dark: #2c2c2c;
$card-border: rgba(0, 161, 143, 1);
$color-tabs: #0F0F10;

$bg-selection: rgba(0, 161, 143, 1);
$text-selection: white;