// Шрифты
$font-primary: 'Manrope',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

$font-heading: 'Gothic', sans-serif;

// Цвета
$bg-header: rgba(218, 218, 218, 0.4);
$brand-red: #f20d0d;
$text-black: #000000;
$text-gray: #4a4a4a;
$glass-bg: rgba(255, 255, 255, 0.4);
$glass-border: rgba(255, 255, 255, 0.2);
$card-dark: #2c2c2c;
$card-border: rgb(89, 89, 89);

$bg-selection: orange;
$text-selection: white;