$font-primary: 'Cabin',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

$brand-red: #f20d0d;
$text-black: #000000;
$text-gray: #4a4a4a;
$glass-bg: rgba(255, 255, 255, 0.4);
$glass-border: rgba(255, 255, 255, 0.2);
$card-dark: #2c2c2c;

$bg-selection: orange;
$text-selection: white;