@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.about-section {
    position: relative;
    min-height: 100vh;
}

.about-content {
    display: block;
    margin: 22vh 0 0 0;
    z-index: 2;

    .about-title {
        @include title;
    }

    .about-desc {
        @include descr;
    }
}

// Карточки
.about-features {
    margin: 5vh 0 7vh 0;

    &__list {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 0;
    }
}

.about-card {
    position: relative;
    width: 366px;
    height: 412px;
    border-radius: 20px;
    overflow: hidden;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    transform-style: preserve-3d; // для гсап
    will-change: transform; // для гсап 

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    cursor: default;
    z-index: 1;

    // это точки
    &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: var(--brand-red);
        border-radius: 50%;
        box-shadow: 0 0 0 8px white;
        z-index: 1;
        transition: 0.3s ease;
    }

    // первая
    &:nth-child(1)::after {
        top: 267px;
        left: 98px;
    }

    // вторая
    &:nth-child(2)::after {
        top: 220px;
        left: 150px;
    }

    // третья
    &:nth-child(3)::after {
        top: 200px;
        left: 167px;
    }

    &:hover::after {
        opacity: 0;
    }

    // Затемнение, чтобы текст читался на любом фоне
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(80deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        z-index: 1;
    }

    &:nth-child(1) {
        background-image: url('/src/assets/img/about/soft.jpg');
    }

    &:nth-child(2) {
        background-image: url('/src/assets/img/about/ergonomic.jpg');
    }

    &:nth-child(3) {
        background-image: url('/src/assets/img/about/easy.jpg');
    }

    // текст и полоска
    &__title {
        position: relative;
        z-index: 2;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 15px 0;
        color: var(--text-gray);
        pointer-events: none;
    }

    .divider {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 1px;
        background-color: var(--text-gray);
        margin-bottom: 15px;
        opacity: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: opacity 0.4s ease, transform 0.4s ease;
        pointer-events: none;
    }

    &__text {
        position: relative;
        z-index: 2;
        font-size: 16px;
        line-height: 1.4;
        margin: 0;
        color: black;
        pointer-events: none;

        .line-mask {
            overflow: hidden;
            display: block;
        }

        .line-child {
            display: block;
            will-change: transform;
        }
    }

    // Квадрат с плюсом
    .card-plus {
        position: absolute;
        bottom: 30px;
        right: 30px;
        width: 46px;
        height: 46px;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        transition: opacity 0.3s ease, transform 0.3s ease;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 50%;
        }

        &::after {
            content: '+';
            position: absolute;
            z-index: 2;
            color: #000;
            font-family: Arial, sans-serif;
            font-size: 20px;
            line-height: 1;
            transform: translateY(1px);
        }
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        &::after {
            opacity: 0;
        }

        .divider {
            opacity: 1;
            transform: scaleX(1);
        }

        .card-plus {
            opacity: 0;
            transform: scale(0.3);
        }
    }
}

@media (max-width: 998px) {
    .about-features {
        margin: 5vh 0 4vh 0;

        &__list {
            flex-direction: column;
            align-items: center;
        }
    }
}