@use "../utils/variables" as *;
@use "../utils/mixins" as *;

// бэкграунд и видео
.about-section {
    position: relative;
    min-height: 100vh;
}

.about-content {
    display: block;
    margin: 14vh 0 0 0;
    z-index: 2;

    .about-title {
        font-size: 40px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: -1px;
        margin: 0;
    }

    .about-desc {
        display: block;
        margin: 2vh 0 0 0;
        font-size: 16px;
        color: var(--text-gray);
        font-weight: 400;
    }
}