@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.catalog-section {
    position: relative;
    min-height: 100vh;
    z-index: 1;
    background-color: white;
}

.catalog-content {
    display: block;
    margin: 250px 0 0 40px;
    z-index: 2;

    .catalog-title {
        @include title;
    }

    .catalog-desc {
        @include descr;
    }
}

// Грид сетка каталога
.catalog__wrapper {
    margin: 50px 75px 0 40px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 17px;
    row-gap: 20px;
    grid-auto-flow: dense; // обязательно оставить!

    @media (max-width: 768px) {
        // grid-template-columns: repeat(9, 1fr);
        column-gap: 6px;
            row-gap: 8px;
    }
}