@use "../utils/variables" as *;
@use "../utils/mixins" as *;

// бэкграунд и видео
.hero-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #000; // заглушка пока видео грузится
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // затемнение для читаемости текста
    // background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.hero-content {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 580px;
    z-index: 2;

    .hero-title {
        font-size: 40px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: -2px;
        margin: 0;

        span {
            color: var(--brand-red);
        }
    }

    .hero-desc {
        display: flex;
        max-width: 419px;
        margin-top: 60px;
        margin-bottom: 0;
        font-size: 16px;
        color: var(--text-gray);
        line-height: 26.7px;
        font-weight: 500;
    }
}