@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.container-materials {
    padding: 5vh clamp(5vw, -188.13px + 13.41vw, 150px) 5vh;
}

.materials-section {
    position: relative;
    min-height: 90vh;
}

.materials-content {
    display: block;
    margin: 8vh 0 0 0;
    z-index: 2;

    .materials-title {
        @include title;
    }

    .materials-desc {
        @include descr;
    }
}

.materials-carousel {
    margin-left: -20px;
    margin-right: calc(-1 * clamp(5vw, -188.13px + 13.41vw, 150px)); // отменяю правый отступ в соответствии с формулой общего контейнера!!!
}

// @media (max-width: 998px) {

// Карточки
//     .about-features {
//         margin: 5vh 0 4vh 0;

//         &__list {
//             flex-direction: column;
//             align-items: center;
//         }
//     }
// }