@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.container-materials {
    padding: 5vh clamp(5vw, -188.13px + 13.41vw, 150px) 5vh;
}

.materials-section {
    position: relative;
    min-height: 90vh;
    z-index: 10;
}

.materials-content {
    display: block;
    margin: 8vh 0 0 45px;
    z-index: 2;

    .materials-title {
        @include title;
    }

    .materials-desc {
        @include descr;
    }
}

.materials-carousel {
    position: relative;
    margin-left: 45px;
    margin-right: calc(-1 * clamp(5vw, -188.13px + 13.41vw, 150px)); // отменяю правый отступ в соответствии с формулой общего контейнера!!!
}

@media (max-width: 480px) {
    .materials-content {
        margin: 136px 20px 0 20px;

        .materials-title {
            font-size: 24px;
        }

        .materials-desc {
            font-size: 16px;
        }
    }

    .materials-carousel {
        position: relative;
        margin-left: 0;
        margin-right: calc(-1 * clamp(5vw, -188.13px + 13.41vw, 150px)); // отменяю правый отступ в соответствии с формулой общего контейнера!!!
    }
}