@use "../utils/variables" as *;

:root {
    --font-primary: #{$font-primary}; // основной текст
    --font-heading: #{$font-heading};
    --brand-teal: #{$brand-teal};
    --text-black: #{$text-black};
    --text-gray: #{$text-gray};
    --glass-bg: #{$glass-bg};
    --glass-border: #{$glass-border};
    --card-dark: #{$card-dark};
    --card-border: #{$card-border};
}