@use "../../utils/variables" as *;
@use "../../utils/mixins" as *;

// раскомментировать чтобы формы отправки править 2-ю и третью !!!!!!!!!!!!!!!!!!!!!!

// .container-form {
//     opacity: 1 !important;
//     visibility: visible !important;
//     pointer-events: all !important;
// }

// .state-3 {
//     opacity: 1 !important;
//     visibility: visible !important;
//     pointer-events: all !important;
//     transform: translate(-50%, -50%) scale(1) !important;
// }

// ------------------------------КОНТЕЙнер------------------------------------
form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form {
    padding: 5px;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .4s ease, visibility .4s ease;
    background: #b3b3b352;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: 1000;
}

.container-form.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.card-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.8);
    width: min(826px, 100vw - 30px);
    max-height: calc(90vh - 30px);
    height: fit-content;
    overflow-y: auto;
    background-color: #f2efe9cc;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 40px;
    padding: 15px;
    box-shadow: 0 10px 25px #00000014, 0 2px 6px #0000000a;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .4s ease-in-out;
    z-index: 10;
}

.card-form.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width:600px) {
    .card-form {
        width: min(400px, 100vw - 30px);
        height: min(670px, 100vh - 30px);
    }
}

.container-form.active .card-form.active {
    pointer-events: all;
}

.card-substrate {
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background: #fff;
    top: 15px;
    left: 15px;
    border-radius: 30px;
    z-index: -1;
    box-shadow: 0 0 0 1px #00000003;
}

.text-form {
    margin: clamp(20px, 7vh, 70px) 0 clamp(20px, 7vh, 112px) clamp(10px, 7vh, 90px);
    text-align: start;
    color: var(--text-black);
    font-size: clamp(30px, 4.44vh, 48px);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .02em;
}

@media screen and (max-width:600px) {
    .text-form {
        margin: 42px 0 80px 32px;
        font-size: 24px;
        font-weight: 400;
    }
}

@media screen and (max-width:376px) {
    .text-form {
        margin: 32px 0 20px 32px;
        font-size: 20px;
    }
}

.success-content {
    position: relative;
    padding: 24.5vh 55px;
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    z-index: 1;
}

@media screen and (max-width:600px) {
    .success-content {
        padding: 217px 0 48px 35px;
    }
}

@media screen and (max-width:376px) {
    .success-content {
        padding: 120px 0 35px 15px;
    }
}

.success-text {
    max-width: 100%;
}

.success-text h2 {
    margin-bottom: 115px;
    font-size: 4.44vh;
    line-height: 1;
    letter-spacing: -.02em;
    font-weight: 400;
    color: var(--text-black);
    text-transform: uppercase;
}

@media screen and (max-width:600px) {
    .success-text h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
    }
}

@media screen and (max-width:345px) {
    .success-text h2 {
        font-size: 20px;
    }
}

.success-text p {
    font-size: 20px;
    color: #666;
}

@media screen and (max-width:600px) {
    .success-text p {
        font-size: 14px;
        padding-top: 48px;
        padding-right: 42px;
    }
}

@media screen and (max-width:345px) {
    .success-text p {
        padding-top: 35px;
    }
}

.success-content_thank {
    display: block;
    height: 100%;
}

.success-image {
    width: 100%;
    background: url('/src/assets/img/form/thanks-sofa.jpg') center center/cover no-repeat;
    min-height: 576px;
    border-radius: 30px;
    overflow: hidden;
}

.timer-form {
    position: absolute;
    margin: 5.6% 0 0 6.8%;
    display: block;
    width: 57px;
    height: 57px;
}

@media(max-height:901px) {
    .success-image {
        height: 50%;
        min-height: 469px;
    }
}

@media screen and (max-width:600px) {
    .success-image {
        background: url('/src/assets/img/form/thanks-sofa.jpg') left center/cover no-repeat;
        min-height: 50vh;
    }
}

.success-label {
    padding-top: 35px;
    padding-left: 70px;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-gray);
}

@media screen and (max-width:600px) {
    .success-label {
        font-size: 10px;
        padding-left: 0;
        padding-right: 35px;
        text-align: right;
    }
}

.success-text_thank {
    padding-top: 35px;
    padding-left: 70px;
}

.teal-text {
    color: var(--brand-teal, rgb(0, 161, 143));
}

@media screen and (max-width:600px) {
    .success-text_thank {
        padding-left: 42px;
    }
}

@media screen and (max-width:350px) {
    .success-text_thank {
        padding-left: 15px;
    }
}

.success-text_thank h2 {
    font-size: 4.44vh;
    line-height: 1;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: var(--text-black);
}

@media screen and (max-width:600px) {
    .success-text_thank h2 {
        font-size: 24px;
    }
}

.field .icon-valid {
    display: none;
}

.field input.valid~.icon-valid,
.field textarea.valid~.icon-valid {
    display: block;
}

.field input.valid~.icon-default,
.field textarea.valid~.icon-default {
    display: none;
}

.field input.invalid,
.field textarea.invalid {
    border-color: #ff6b6b;
}

.field {
    position: relative;
    width: 100%;
    max-width: 643px;
    width: calc(100% - clamp(70px, 10vw, 100px));
    margin-left: auto;
    margin-right: auto;
}

.field input,
.field textarea {
    resize: none;
    height: 60px;
    width: 100%;
    padding: 25px 14px 10px 0;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(98, 94, 94, .1);
    background: #ffffff0d;
    color: var(--text-black);
}

.field input:-webkit-autofill,
.field input:-webkit-autofill:hover,
.field input:-webkit-autofill:focus,
.field input:-webkit-autofill:active,
.field textarea:-webkit-autofill,
.field textarea:-webkit-autofill:hover,
.field textarea:-webkit-autofill:focus,
.field textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
    -webkit-text-fill-color: var(--text-black) !important;
    border-bottom-color: #625e5e1a;
    transition: background-color 5000s ease-in-out 0s;
}

.field textarea {
    min-height: 60px;
    margin-top: 32px;
    padding-left: 0px;
    padding-bottom: 5px;
}

.field label {
    position: absolute;
    left: 0;
    top: 14px;
    font-size: 20px;
    opacity: .7;
    pointer-events: none;
    transition: .2s;
    font-weight: 600;
}

// высота для инпута КОММЕНТАРИИ
.field textarea[name="message"] {
    height: 42px;
    min-height: 42px;
}

@media screen and (max-width:600px) {
    .field label {
        font-size: 16px;
        font-weight: 400;
    }

    .field textarea[name="message"] {
        height: 35px;
        min-height: 35px;
    }
}

.field input:focus~label,
.field input:not(:placeholder-shown)~label,
.field textarea:focus~label,
.field textarea:not(:placeholder-shown)~label {
    top: 2px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-black);
}

.invalid {
    border-color: #ff6b6b !important;
}

.error {
    min-height: 10px;
    font-size: 12px;
    color: #ff6b6b;
    margin-left: 0;
    margin-top: 6px;
    display: block;
}

.checkbox-field {
    display: flex;
    flex-direction: column;
    max-width: 643px;
    width: calc(100% - clamp(70px, 10vw, 100px));
    margin: 30px auto 15px;
    align-self: center;
}

// @media(max-height:901px) {
//     .checkbox-field {
//         margin: clamp(5px, 1vh, 110px) 85px 15px 0;
//     }
// }

@media screen and (max-width:600px) {
    .checkbox-field {
        // margin: 30px auto 15px;
        // align-self: center;
        // width: calc(100% - clamp(70px, 10vw, 100px));
    }

    .checkbox-field .error {
        margin-left: 36px;
    }
}

.checkbox {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-left: 0;

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        width: 20px;
        height: 20px;
        border: 1px solid var(--text-black, #000);
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        display: grid;
        place-content: center;
        transition: 0.2s ease;

        // клик / выбор
        &:checked {
            background-color: var(--brand-teal);
            border-color: var(--brand-teal);
        }

        // Внутренняя галочка
        // &::before {
        //     content: "";
        //     width: 8px;
        //     height: 8px;
        //     border-radius: 50%;
        //     background-color: #fff;
        //     transform: scale(0);
        //     transition: 0.2s ease;
        // }

        // &:checked::before {
        //     transform: scale(1);
        // }
    }
}

.checkbox input {
    width: 20px;
    height: 20px;
    margin-top: -4px;
    cursor: pointer;
    accent-color: var(--brand-teal);
}

@media screen and (max-width:600px) {
    .checkbox {
        margin-right: 0;
        margin-left: 0;

        input[type="checkbox"] {
            width: 14px;
            height: 14px;
            margin-top: 0;
        }
    }
}

.btn-form {
    position: relative;
    margin: 0 65px 40px 0;
    padding: 0 65px 0 0;
    align-self: flex-end;
    max-width: 365px;
    width: 100%;
    height: 80px;
    border: none;
    border-radius: 24px;
    background-color: var(--text-black);
    text-align: right;
    font-family: var(--font-heading);
    letter-spacing: .06em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width:600px) {
    .btn-form {
        width: calc(100% - 65px);
        margin: auto 0;
        padding: 0;
        align-self: center;
        text-align: center;
        max-width: 330px;
        height: 60px;
        border-radius: 12px;
        font-size: 14px;
        font-weight: 400;
    }
}

.btn-form:focus {
    outline: none;
    outline-offset: 2px;
    box-shadow: 0 0 0 3px var(--brand-teal);
}

.btn-form.loading {
    display: block;
}

.btn-form.loading .btn-text {
    opacity: .6;
}

.policy-text {
    font-size: 12px;
}

.policy-link {
    color: var(--brand-teal);
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: .2s;
}

.policy-link:hover {
    border-bottom: 1px solid var(--brand-teal);
}

.btn-close {
    position: absolute;
    top: 13vh;
    right: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
    color: #000;
}

@media screen and (max-width:600px) {
    .btn-close {
        top: 60px;
        right: 36px;
        width: 24px;
        height: 24px;
        font-size: 24px;
        font-weight: 400;
    }
}

@media screen and (max-width:350px) {
    .btn-close {
        top: 30px;
        right: 30px;
    }
}

.btn-close:before,
.btn-close:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4vh;
    height: 2px;
    background-color: #000;
}

@media screen and (max-width:600px) {

    .btn-close:before,
    .btn-close:after {
        width: 3.2vh;
        height: 2px;
    }
}

.btn-close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn-close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-close:hover:before,
.btn-close:hover:after {
    background-color: #666;
}

// для счетчика символов
.char-counter {
    font-size: 12px;
    color: var(--brand-teal, rgb(0, 161, 143));
    text-align: left;
    margin-top: 4px;
    transition: color 0.2s;

    &.limit-reached {
        color: #ff6b6b;
        font-weight: 600;
    }
}

@media screen and (max-width:600px) {

    .field input,
    .field textarea {
        height: 42px;
    }

    .field textarea {
        padding-bottom: 15px;
    }
}