@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.about {
    &__wrapper {
        margin-top: 85px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    &__wrapper-left {
        flex: 0 0 417px;

        &> :nth-child(2) {
            margin-top: 40px;
        }

        &> :nth-child(3) {

            margin-top: 80px;
        }
    }

    &__wrapper-right {
        margin-left: auto;
        padding-left: 139px;
        display: grid;
        grid-template-columns: repeat(3, 258px);
        gap: 20px;
    }

    &__video-card {
        aspect-ratio: 258 / 460;
        width: 258px;
        border-radius: 24px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 3;

        &:nth-child(1) {
            background-image: url('/public/video/about/example-about.png');
        }

        &:nth-child(2) {
            background-image: url('/public/video/about/example-about.png');
        }

        &:nth-child(3) {
            background-image: url('/public/video/about/example-about.png');
        }
    }

    &__section {
        position: relative;
        min-height: 100vh;
        z-index: 1;
        background-color: white;
    }

    &__content {
        display: block;
        margin: 220px 70px 0 40px;
        z-index: 2;

        footer {
            margin-left: 0;

            .scroll-indicator {
                width: 435px;
                justify-content: flex-start;
            }

            .scroll-text-footer {
                width: 100%;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                font-family: var(--font-heading);
                letter-spacing: -0.02em;
                line-height: 1;
                transition: line-height 0.3s ease;
            }

            &:hover .scroll-text-footer {
                line-height: 0.9;
            }
        }
    }

    &__title {
        @include title;
        font-size: 48px;

        span {
            color: #00A18F;
        }
    }

    &__text {
        @include descr;
        margin: 0;
        font-weight: 400;
        line-height: 32px;
        color: $text-gray;
        letter-spacing: 0%;
    }
}
// ИКОНКА СОЦСЕТЕЙ В ФУТЕРЕ
#about-footer-icon {
    background-image: url("/src/assets/icons/footer/footer-socials.svg");
}

@media (max-width: 1500px) {
    .about {
        &__wrapper-right {
            padding-left: 30px;
        }
    }
}

@media (max-width: 480px) {
    .about {
        &__wrapper {
            display: contents;
        }

        &__wrapper-left {
            display: contents;
        }

        &__wrapper-right {
            order: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            margin: 0;
            padding: 0;
            padding-top: 40px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            margin: 136px 0px 0 0;

            footer {
                order: 4;
                margin-top: 40px;
                grid-column: 1;

                .scroll-indicator {
                    width: 100%;
                    max-width: 315px;
                    justify-content: flex-start;
                    text-align: left;
                }

                .scroll-text-footer {
                    justify-content: flex-start;
                }
            }
        }

        &__video-card {
            order: 2;
            aspect-ratio: auto;
            width: 100%;
            max-width: 376px;
            height: 120px;
            border-radius: 20px;

            &:nth-child(1) {
                background-image: url('/public/video/about/example-one.jpg');
            }

            &:nth-child(2) {
                background-image: url('/public/video/about/example-two.jpg');
            }

            &:nth-child(3) {
                background-image: url('/public/video/about/example-three.jpg');
            }
        }

        &__title {
            order: 1;
            margin-left: 15px;
            font-size: 24px;
        }

        &__text {
            order: 2;
            margin-top: 24px;
            margin-left: 15px;
            line-height: 22px;
            letter-spacing: 0;

            &:last-of-type {
                display: none;
            }
        }
    }
}