@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.aboutHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;

    .nav-left {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .logo-group {
        text-align: right;

        .logo {
            img {
                width: 120px;
                height: 66px;
            }
        }
    }
}