@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.about {
    &__wrapper {
        margin-top: 85px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    &__wrapper-left {
        flex: 0 0 417px;

        &> :nth-child(2) {
            margin-top: 40px;
        }

        &> :nth-child(3) {
            margin-top: 80px;
        }
    }

    &__wrapper-right {
        margin-left: auto;
        padding-left: 139px;
        display: grid;
        grid-template-columns: repeat(3, 258px);
        gap: 20px;
    }

    &__video-card {
        aspect-ratio: 258 / 460;
        width: 258px;

        border-radius: 24px;
        overflow: hidden;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        z-index: 3;

        &:nth-child(1) {
            background-image: url('/public/video/about/example-about.png');
        }

        &:nth-child(2) {
            background-image: url('/public/video/about/example-about.png');
        }

        &:nth-child(3) {
            background-image: url('/public/video/about/example-about.png');
        }
    }

    &__section {
        position: relative;
        min-height: 100vh;
        z-index: 1;
        background-color: white;
    }

    &__content {
        display: block;
        margin: 220px 70px 0 40px;
        z-index: 2;

        footer {
            margin-left: 0;

            .scroll-indicator {
                width: 435px;
                justify-content: flex-start;

            }

            .scroll-text-footer {
                width: 100%;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                font-family: var(--font-heading);
                letter-spacing: -0.02em;
                line-height: 1;
                transition: line-height 0.3s ease;
            }

            &:hover .scroll-text-footer {
                line-height: 0.8;
            }
        }
    }

    &__title {
        @include title;
        font-size: 48px;

        span {
            color: #00A18F;
        }
    }

    &__text {
        @include descr;
        margin: 0;
        font-weight: 400;
        line-height: 32px;
        color: rgba(37, 34, 34, 1);
        letter-spacing: 0%;
    }
}