@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.footer {
    display: block;
    margin-left: 45px;
    width: 340px;
    z-index: 2;
}

.scroll-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    cursor: pointer;

    .scroll-text {
        width: 260px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: var(--font-heading);
        letter-spacing: -0.02em;
        line-height: 1;
        transition: line-height 0.3s ease;
    }

    .line {
        display: block;
        margin: 0 10px;
        height: 2px;
        width: 85px;
        background: black;
        transition: transform 0.3s ease;
    }

    &:hover .line {
        transform: scaleX(0.7);
    }

    &:hover .scroll-text {
        line-height: 0.9;
    }
}

// иконка МЫШЬ
.mouse-icon {
    position: relative;
    width: 27px;
    height: 27px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px 27px;
    background-image: url("/src/assets/icons/header/chevron-circle-down.svg");

    z-index: 1;
}

#to-top .mouse-icon {
    background-image: url("/src/assets/icons/header/chevron-circle-up.svg");
}

.scroll-indicator:hover {
    .mouse-icon {
        background-color: rgba(233, 228, 219, 0.40);
        border-radius: 999px;

        &::before {
            opacity: 1;
            transform: scale(1) rotate(126deg);
        }
    }

    .line {
        transform: scaleX(0.7);
    }
}

@media (max-width: 480px) {
    .footer {
        margin: 0 auto;
        max-width: clamp(260px, 85%, 340px);
        width: 100%;
    }

    .scroll-indicator {
        .scroll-text {
            width: clamp(180px, 55vw, 190px);
            font-size: clamp(10px, 3.5vw, 14px);
        }

        .line {
            width: clamp(42px, calc(102px - 12.5vw), 62px);
        }
    }

    .mouse-icon {
        width: clamp(18px, 5vw, 24px);
        height: clamp(18px, 5vw, 24px);
        background-size: clamp(18px, 5vw, 24px) clamp(18px, 5vw, 24px);
    }
}