@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header {
    position: fixed;
    padding: 0 72px 0 45px;
    height: 118px;

    top: 32px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $bg-header;
    border-radius: 22.5px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    z-index: 900;

    .nav-left {
        position: relative;
        display: flex;
        align-items: center;
        gap: 32px;
        width: 100%;
        max-width: 376px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .logo-group {
        text-align: right;

        .logo {
            width: 118px;
            height: 65px;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            transition: background-image 0.3s ease;

            &[data-logo="main"] {
                background-image: url("/src/assets/icons/header/logo.svg");

                &:hover {
                    background-image: url("/src/assets/icons/header/logo-teal.svg");
                }
            }
        }
    }

    @media (max-width: 480px) {
        // Плавные отступы: справа много места под бургер, слева минимум
        padding: 0 clamp(60px, 25vw, 100px) 0 clamp(20px, 8vw, 40px);

        // Плавная высота
        height: clamp(65px, 15vw, 72px);

        // Плавный скругление
        border-radius: clamp(16px, 5vw, 20px);

        // Плавный отступ сверху
        top: clamp(16px, 5vw, 32px);

        .nav-left {
            gap: clamp(16px, 6vw, 32px);
            max-width: 100%;
        }

        .logo-group {

            .logo {
                // Плавная ширина логотипа
                width: clamp(60px, 16.6vw, 80px);
                // Плавная высота логотипа
                height: clamp(33px, 9.1vw, 44px);

                &[data-logo="main"] {
                    background-image: url("/src/assets/icons/header/logo-mobile.svg");
                }
            }
        }
    }
}