@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header {
    position: fixed;
    padding: 0 72px 0 45px;
    height: 118px;

    top: 32px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $bg-header;
    border-radius: 22.5px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    z-index: 900;

    .nav-left {
        position: relative;
        display: flex;
        align-items: center;
        gap: 32px;
        width: 100%;
        max-width: 376px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .logo-group {
        text-align: right;

        .logo {
            width: 118px;
            height: 65px;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            transition: background-image 0.3s ease;

            &[data-logo="main"] {
                background-image: url("/src/assets/icons/header/logo.svg");

                &:hover {
                    background-image: url("/src/assets/icons/header/logo-teal.svg");
                }
            }
        }
    }

    @media (max-width: 480px) {
        padding: 0 100px 0 40px;
        height: 72px;
        border-radius: 20px;

        .logo-group {

            .logo {
                width: 80px;
                height: 44px;

                &[data-logo="main"] {
                    background-image: url("/src/assets/icons/header/logo-mobile.svg");
                }
            }
        }
    }
}