@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;

    .nav-left {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .logo-group {
        text-align: right;

        .logo {
            img {
                width: 120px;
                height: 66px;
            }
        }
    }
}

.menu-trigger {
    width: 190px;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 27px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;

    &:hover .burger-icon span:last-child {
        width: 24px;
    }
}

.burger-icon {
    display: flex;
    flex-direction: column;
    gap: 6px;

    span {
        display: block;
        height: 2px;
        background: black;
        transition: 0.3s;
        line-height: 0.5px;

        &:first-child {
            width: 37px;
        }

        &:last-child {
            width: 37px;
        }
    }
}

.nav-icons {
    display: flex;
    gap: 8px;
}