@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.product {

    &__page {
        margin: 252px 70px 0 43px;
        display: flex;
        gap: 159px;
        align-items: flex-start;

        @media (max-width: 1200px) {
            gap: 60px;
        }

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }

        @media screen and (max-width: 600px) {
            margin: 166px 0 0 0;

            .accordion {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 8px;
            }

            .accordion__item {
                grid-column: 1 / -1; // Занимает от первой до последней колонки
            }

            // 3. Картинки галереи
            .gallery-grid__item {

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    border-radius: 24px;
                }
            }

            // 4. Выделяем первую картинку на всю ширину
            // Используем соседний селектор (+), чтобы найти картинку, которая идет сразу после Описания
            .accordion__item:first-child+.gallery-grid__item {
                grid-column: 1 / -1; // На всю ширину
            }


        }
    }

    &__title {
        margin: 0;
        padding-bottom: 250px;

        @media screen and (max-width: 600px) {
            padding-bottom: 50px;
        }

        &-back {
            @include title;
            margin: 0;
            display: inline-flex;
            align-items: center;
            gap: 20px;

            color: var(--text-gray);
            font-weight: 500;
            font-size: 48px;
            text-decoration: none;
            transition: color 0.4s ease-in-out;

            &:hover {
                color: var(--brand-teal, rgba(0, 161, 143, 1));
            }
        }

        &-color {
            @include title;
            font-weight: 600;
            font-size: 20px;
            text-transform: none;
            padding: 30px 0 10px 10px;
        }

        &-icon {
            width: 30px;
            height: 30px;
            display: block;
        }
    }
}

// Аккордеон
.accordion {
    width: 100%;
    max-width: 400px;

    &__content {
        position: relative;
    }

    &__item {

        &-active {
            .accordion__content {
                display: block;
            }

            .accordion__header::after {
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }

    &__item:nth-child(3) {
        .accordion__header {
            border-bottom: none;
        }
    }

    &__header {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        border: none;
        border-bottom: 1px solid #e0e0e0;
        color: #0F0F10;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        text-align: left;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 25.5px;
            top: 50%;

            width: 8px;
            height: 8px;

            border-top: 2px solid #0F0F10;
            border-right: 2px solid #0F0F10;

            transform: translateY(-50%) rotate(135deg);

            transition:
                border-color 0.3s ease-in-out,
                transform 0.3s ease-in-out;
            z-index: 1;
            will-change: transform;
        }
    }

    &__content {
        display: none;
        padding-bottom: 20px;
        color: #0F0F10;
        line-height: 1.6;
    }
}

// Кастомный выбор цвета
.color-select {
    position: relative;
    user-select: none;
    will-change: height;

    &__selected {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 120px;
        padding: 15px;
        gap: 12px;

        background: var(--selected-texture, url('/icons/product/textile/textile-brown.jpg'));
        background-size: cover;
        background-position: center;

        border-radius: 16px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index: 100;
        transition: height 0.35s ease-in-out;
        transition: background-image 0.3s ease-in-out, height 0.35s ease-in-out; // для плавности смены цвета

        // квадратик
        &::after {
            content: "";
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-self: center;

            width: 29px;
            height: 105px;
            background: rgba(242, 242, 242, 1);
            border-radius: 8px;

            transition:
                height 0.3s ease-in-out,
                background-color 0.3s ease-in-out;
            will-change: height, background-color;
        }

        // стрелка
        &::before {
            content: "";
            position: absolute;
            right: 25.5px;
            top: 50%;

            width: 8px;
            height: 8px;

            border-top: 2px solid #0F0F10;
            border-right: 2px solid #0F0F10;

            transform: translateY(-50%) rotate(135deg);

            transition:
                border-color 0.3s ease-in-out,
                transform 0.3s ease-in-out;
            z-index: 1;
            will-change: transform;
        }

        // вращение стрелки
        &-open {
            height: 70px;

            &::after {
                background: rgb(71, 71, 71);
                height: 60px;
            }

            &::before {
                transform: translateY(-50%) rotate(-45deg);
                border-color: #ffffff;
            }
        }
    }

    &__dropdown {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 400px;
        height: 380px;

        background: #fff;
        border-radius: 16px;
        // box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        z-index: 10;
        padding: 10px;

        opacity: 0;
        visibility: hidden;

        transition:
            opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out;

        // ПОдложка под выбором цвета
        &::before {
            content: '';
            position: absolute;
            display: block;
            top: -85px;
            left: -10px;
            background-color: rgba(241, 241, 241, 1);
            width: calc(100% + 20px);
            height: calc(100% + 95px);
            z-index: -1;
            border-radius: 20px;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease-in-out;
        }

        &-open {
            opacity: 1;
            visibility: visible;

            // появляется ПОДЛОЖКА
            &::before {
                opacity: 1;
            }
        }
    }

    &__option {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 12px;
        padding: 10px;

        color: #0F0F10;
        font-weight: 500;
        word-break: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
        line-height: 1;
        overflow: hidden;
        z-index: 2;

        cursor: pointer;
        border-radius: 16px;
        transition:
            background-color 0.3s ease-in-out,
            color 0.3s ease-in-out;

        &:hover {
            background-color: #2f2f2fdc;
            color: #fff;
        }
    }

    &__swatch {
        width: 230px;
        height: 80px;
        flex-shrink: 0;
        border-radius: inherit;
        overflow: hidden;

        img {
            display: block;
            width: 230px;
            height: 80px;
            object-fit: cover;
        }
    }
}

// появление текста + в js изменения
.color-select__name {
    padding-right: 55px;
    display: flex;
    align-items: flex-end;
    flex: 1;

    color: #0F0F10;
    font-weight: 500;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    line-height: 1.3;
    z-index: 2;

    transition:
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}

// Параметры
.params-list {
    list-style: none;
    padding: 0;

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid #f0f0f0;
        font-size: 0.9rem;

        span:last-child {
            font-weight: 500;
            color: #0F0F10;
        }
    }
}

// Галерея
.product-gallery {
    flex: 1;
    position: relative;

}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
    }

    &__item {
        position: relative;

        &-main {
            position: relative;
            border-radius: 32px;
            grid-column: span 2;
            overflow: hidden;
        }

        &-wide {
            grid-column: span 2;
        }
    }
}

// Кнопка купить
.order-badge {
    position: absolute;
    width: 467px;
    height: 135px;
    left: 2%;
    bottom: 3%;
    z-index: 10;
    pointer-events: all; // Чтобы клики проходили

    @media (max-width: 1400px) {
        width: 420px;
        transform: scale(0.6);
        transform-origin: left bottom;
    }

    @media (max-width: 991px) {
        margin-top: 30px;
        width: 100%;
        max-width: 467px;
    }
}

.order-badge__link {
    display: block;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.order-badge__card {
    display: flex;
    justify-content: flex-start;
    height: 142px;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    z-index: 1;
    align-items: stretch;
    align-items: center;
    border-radius: 29px;
    background: rgba(233, 228, 219, 0.43);
    box-shadow:
        0 16px 32px rgba(0, 0, 0, 0.08),
        0 6px 12px rgba(0, 0, 0, 0.04);
    cursor: pointer;
    transition: background 0.2s ease, box-shadow 0.2s ease;

    transform-style: preserve-3d; // для гсап анимации
    will-change: transform; // для гсап анимации

    &:hover {
        background: rgba(255, 255, 255, 0.43);
        box-shadow:
            0 28px 56px rgba(0, 0, 0, 0.12),
            0 12px 24px rgba(0, 0, 0, 0.06);
    }

    &:hover {
        .order-badge__info h3 {
            transition: transform 0.4s ease;
            transform: translateY(-10px);
        }
    }

    .order-badge__substrate {
        position: absolute;
        left: 50px;
        width: 110px;
        height: 121px;
        background-color: var(--card-dark);
        z-index: 1;
    }

    .order-badge__label {
        display: flex;
        align-items: center;
        font-family: var(--font-heading);
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        opacity: 1;
        z-index: 3;
    }

    .order-badge__img-box {
        position: relative;
        width: 116px;
        height: 121px;
        padding: 0 0 0 10px;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        transform: translateX(12px);
        border: 9px solid var(--card-dark);
        border-radius: 29px;
        background: rgb(255, 255, 255);
        z-index: 3;
        pointer-events: none; // для гсап анимации

        img {
            will-change: transform; // для гсап анимации
            transform: translateX(0px) scale(1);
            width: 90px;
            height: auto;
            z-index: 1;
            pointer-events: none; // для гсап анимации
            transition: transform 0.4s ease;
        }
    }

    &:hover {
        .order-badge__img-box {
            img {
                transform: translateX(-1px) scale(1.1);
            }
        }
    }

    .order-badge__info {
        background: var(--card-dark);
        color: #fff;
        width: 210px;
        height: 121px;
        padding: 34px 24px 24px 34px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateX(12px);
        border-radius: 0 29px 29px 0;

        h3 {
            display: block;
            margin: 0;

            font-family: var(--font-primary);
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: -0.02em;
            line-height: 1.2;

            transition: transform 0.2s ease;
        }
    }
}

@media screen and (max-width: 600px) {
    .product {
        &__title {
            &-back {
                font-size: 24px;
            }

            &-icon {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .color-select {
        &__dropdown {
            max-width: 400px;
            width: 100%;
        }
    }
}