@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.product {

    &__page {
        margin: 252px 70px 0 43px;
        display: flex;
        gap: 159px;
        align-items: flex-start;

        @media (max-width: 1200px) {
            gap: 60px;
        }

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }
    }

    &__title {
        margin: 0;
        padding-bottom: 250px;

        &-back {
            @include title;
            margin: 0;
            display: inline-flex;
            align-items: center;
            gap: 20px;

            color: var(--text-gray);
            font-weight: 500;
            font-size: 48px;
            text-decoration: none;
        }

        &-icon {
            width: 30px;
            height: 30px;
            display: block;
            pointer-events: none;
        }
    }
}

// Аккордеон
.accordion {
    width: 100%;
    max-width: 400px;

    &__item {
        border-top: 1px solid #e0e0e0;

        &-active {
            .accordion__content {
                display: block;
            }

            .accordion__header::after {
                transform: rotate(180deg);
            }
        }
    }

    &__header {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        border: none;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        text-align: left;

        &::after {
            content: '▼';
            font-size: 0.7rem;
            transition: transform 0.3s;
        }
    }

    &__content {
        display: none;
        padding-bottom: 20px;
        color: #000000;
        line-height: 1.6;
    }
}

// Кастомный выбор цвета
.color-select {
    position: relative;
    user-select: none;


    &__selected {
        display: flex;
        height: 120px;
        align-items: center;
        padding: 15px;
        background: var(--selected-color, #D2B48C);
        border-radius: 16px;
        cursor: pointer;
        gap: 12px;
        position: relative;
        transition: height 0.3s ease-in-out;

        // квадратик
        &::after {
            content: "";
            width: 29px;
            height: 105px;
            background: rgba(242, 242, 242, 1);
            border-radius: 8px;
            margin-left: auto;
            transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }

        // стрелка
        &::before {
            content: '▼';
            font-size: 10px;
            color: #000000;

            position: absolute;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);

            // Чтобы стрелка была по центру 
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;

            transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
            z-index: 1;
        }

        // вращение стрелки
        &-open {
            height: 70px;

            &::after {
                background: rgb(71, 71, 71);
                height: 60px;
            }

            &::before {
                transform: translateY(-50%) rotate(180deg);
                color: #ffffff;
            }
        }
    }

    &__swatch {
        width: 200px;
        height: 60px;
        border-radius: 8px;
        flex-shrink: 0;
    }

    &__dropdown {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;

        background: #fff;
        border-radius: 12px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        z-index: 10;
        padding: 10px;

        opacity: 0;
        visibility: hidden;

        transition:
            opacity 0.3s ease-in-out,
            visibility 0.3s ease-in-out;

        &-open {
            opacity: 1;
            visibility: visible;
        }
    }

    &__option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        padding: 10px;
        cursor: pointer;
        border-radius: 16px;

        &:hover {
            background: #2f2f2fdc;
            color: #fff;
        }
    }
}

// Параметры
.params-list {
    list-style: none;
    padding: 0;

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid #f0f0f0;
        font-size: 0.9rem;

        span:last-child {
            font-weight: 500;
            color: #333;
        }
    }
}

// Галерея
.product-gallery {
    flex: 1;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 24px;
    }

    &__item {
        position: relative;

        &-main {
            grid-column: span 2;
        }

        &-wide {
            grid-column: span 2;
        }
    }

    &__price-tag {
        position: absolute;
        bottom: 20px;
        left: 20px;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 10px 20px;
        border-radius: 30px;
        font-weight: bold;
    }
}