@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.conditions-popup {
    // Подложка темная
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1200px;
    width: 90vw;
    // max-height: 800px;
    // height: 90vw;
    // min-height: 50vw;
    height: auto;
    max-height: 2200px;
    // min-height: 0;
    padding: 18px 20px 18px;


    background: rgba(242, 239, 233, 0.8);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.1);
    border-radius: 73px;

    z-index: 9999;
    opacity: 0;
    will-change: transform, opacity;
    transform: translateY(100%);
    pointer-events: none;
   
    overflow: visible;

    // Белый блок контента
    &__inner {
        // min-height: 100%;
        height: auto;
        // max-height: 100%;
        // height: 100%;
        // overflow-y: auto;
        // overflow-x: hidden;

        -webkit-overflow-scrolling: touch;
        background: #fff;
        border-radius: 60px;
        overflow: hidden;
    }

    &__close {
        position: absolute;
        top: -66px;
        right: 50%;
        transform: translateX(50%);
        width: 32px;
        height: 32px;
        background: transparent;
        z-index: 10;
        border: none;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 42px;
            height: 2px;
            background-color: #000;
            transform-origin: center;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &__image-wrap {
        width: 100%;
        aspect-ratio: 1370 / 493;
        overflow: hidden;
        border-radius: 60px 60px 0 0;

        img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 60px 60px 0 0;
            object-fit: cover;
        }
    }

    &__content {
        padding: 80px 139px 60px 146px;
    }

    &__title {
        font-family: var(--font-heading);
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-bottom: 44px;
        color: $text-black;
    }

    &__text {
        font-size: 15px;
        line-height: 1.6;
        color: $text-black;

        p {
            margin-bottom: 24px;
            line-height: 1.75;
        }

        h4 {
            margin: 45px 0 18px;
            font-size: 26px;
            font-weight: 600;
        }

        ul {
            padding-left: 22px;
            margin-bottom: 35px;
        }

        li {
            margin-bottom: 12px;
            line-height: 1.7;
        }
    }

    // ОВЕРЛЭЙ такой же как везде, надо вынести в отдельный файл по всему сайту!!!
    &__overlay {
        position: fixed;
        inset: 0;
        background: $overlay-main;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        z-index: 1000;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        &.active {
            visibility: visible;
            pointer-events: auto;
            opacity: 1;
        }
    }

    // СКЕЛЕТОН
    &__image-wrap {
        position: relative;

        .skeleton {
            position: absolute;
            inset: 0;
            border-radius: inherit;
        }
    }
}

@media (max-width: 992px) {
    .conditions-popup {
        &__content {
            padding: 50px 80px 0 80px;
        }

        &__title {
            font-size: 36px;
        }

        &__text {
            font-size: 14.5px;
        }
    }
}

@media (max-width: 768px) {
    .conditions-popup {
        &__content {
            padding: 40px 60px 0 60px;
        }

        &__title {
            font-size: 28px;
        }

        &__text {
            font-size: 14px;
        }
    }
}

@media (max-width: 600px) {
    .conditions-popup {

        width: 92vw;
        max-width: 100%;
        height: 120vw;
        border-radius: 32px 32px 0 0;
        padding: 8px;

        background: #fff;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;

        &__inner {
            border-radius: 32px 32px 0 0;
        }

        &__close {
            top: -46px;
        }

        &__image-wrap {
            aspect-ratio: 284 / 177;
            border-radius: 24px;

            img {
                border-radius: 24px;
            }
        }

        &__content {
            padding: 7vw 5vw 0 5vw;
        }

        &__title {
            font-size: 5.8vw;
            letter-spacing: 0;
            margin-bottom: 5vw;
        }

        &__text {
            font-size: 3.8vw;
            line-height: 1.5;
        }
    }
}

@media (max-width: 480px) {
    .conditions-popup {
        &__title {
            font-size: 6.2vw;
        }

        &__text {
            font-size: 4vw;
        }
    }
}

@media (max-width: 360px) {
    .conditions-popup {
        &__title {
            font-size: 6.5vw;
        }

        &__text {
            font-size: 4.1vw;
        }
    }
}

@media (max-width: 320px) {
    .conditions-popup {
        &__title {
            font-size: 7vw;
        }

        &__text {
            font-size: 4.3vw;
        }
    }
}