@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.link-catalog {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 486px;
    height: 91px;
    right: 180px;
    bottom: 138px;
    border-radius: 32px;
    cursor: pointer;
    z-index: 2;

    background-color: rgba(250, 250, 250, 0.2);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08), 0 6px 12px rgba(0, 0, 0, 0.04);

    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transform-style: preserve-3d;
    will-change: transform;

    &:hover {
        background: rgba(255, 255, 255, 0.43);
        box-shadow: 0 28px 56px rgba(0, 0, 0, 0.12), 0 12px 24px rgba(0, 0, 0, 0.06);
    }
}

.link-catalog__link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.link-catalog__bg {
    margin-left: 8px;
    padding-left: 51px;
    width: 342px;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 3;
    border-radius: 32px;
    background: rgba(13, 13, 13, 0.7);
}

.link-catalog__info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.link-catalog__arrow img {
    display: block;
    opacity: 0;
    transform: translateX(-10px);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.link-catalog__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.link-catalog__info h3 {
    margin: 0;
    letter-spacing: 0.02em;
    line-height: 1;
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    transition: transform 0.4s ease-in-out;
}

.link-catalog__bg:hover {
    .link-catalog__info h3 {
        transform: translateX(-10px);
    }

    .link-catalog__arrow img {
        opacity: 1;
        transform: translateX(5px);
    }
}

@media (max-width: 480px) {
    .link-catalog {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: clamp(252px, calc(252px + (100vw - 320px) * 0.575), 344px);
        height: clamp(74px, calc(74px + (100vw - 320px) * 0.0875), 88px);

        right: 50%;
        transform: translateX(50%);

        bottom: clamp(80px, calc(80px + 0.275 * (100vw - 320px)), 124px);

        border-radius: clamp(18px, 5.6vw, 22px);
        cursor: pointer;
        z-index: 2;

        background-color: rgba(250, 250, 250, 0.2);
        box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08), 0 6px 12px rgba(0, 0, 0, 0.04);
        transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        transform-style: preserve-3d;
        will-change: transform;
    }

    .link-catalog__link {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    .link-catalog__bg {
        margin-left: clamp(4px, 1.25vw, 8px);
        padding-left: clamp(24px, 7.5vw, 38px);

        width: clamp(236px, calc(236px + (100vw - 320px) * 0.575), 328px);
        height: clamp(58px, calc(58px + (100vw - 320px) * 0.0875), 72px);

        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        z-index: 3;
        border-radius: clamp(12px, 4vw, 16px);
        background: rgba(13, 13, 13, 0.8);
    }

    .link-catalog__info {
        display: flex;
        gap: clamp(12px, 3.75vw, 20px);
        align-items: center;
    }

    .link-catalog__arrow img {
        display: block;
        opacity: 0;
        transform: translateX(-10px);
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }

    .link-catalog__link {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }

    .link-catalog__info h3 {
        margin: 0;
        letter-spacing: 0.02em;
        line-height: 1;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        transition: transform 0.4s ease-in-out;
    }

    .link-catalog__bg:hover {
        .link-catalog__info h3 {
            transform: translateX(-10px);
        }

        .link-catalog__arrow img {
            opacity: 1;
            transform: translateX(5px);
        }
    }
}

@media (max-width: 380px) {
    .link-catalog__info h3 {
        font-size: 13px;
    }
}