// из старого проекта, надо удалить или изменить!!!

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.animated.fast {
    animation-duration: 1.5s;
}

.animated.slow {
    animation-duration: 1s;
}

.delay-1 {
    animation-delay: 0.5s;
}

.delay-2 {
    animation-delay: 1s;
}

.delay-3 {
    animation-delay: 1.5s;
}