@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;

    .nav-left {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .logo-group {
        text-align: right;

        .logo {
            font-weight: 800;
            font-size: 40px;
            line-height: 0.9;
            text-transform: uppercase;
        }
    }
}

.menu-trigger {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;

    &:hover .burger-icon span:last-child {
        width: 24px;
    }
}

.burger-icon {
    display: flex;
    flex-direction: column;
    gap: 6px;

    span {
        display: block;
        height: 2px;
        background: black;
        transition: 0.3s;

        &:first-child {
            width: 24px;
        }

        &:last-child {
            width: 16px;
        }
    }
}

.nav-icons {
    display: flex;
    gap: 16px;
}

.sub-link {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        opacity: 1;
    }

    .red-dot {
        width: 8px;
        height: 8px;
        background: var(--brand-red);
        border-radius: 50%;
    }
}