@use "./utils/variables" as *;
@use "./utils/mixins" as *;

// Base
@use 'base/root';

// Section
@use 'sections/hero';
@use 'sections/about';

// Layout
@use 'layout/header';
@use 'layout/aboutHeader';
@use 'layout/footer';

@use 'base/animation';
@use 'ui/ui';

// Components
@use "components/product-card";


// Normalize Fonts
@import "../assets/libs/fonts.css";
@import "../../node_modules/modern-normalize/modern-normalize.css";

// ============================================================
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    overflow-x: hidden;
    height: 100%;
    overflow-x: hidden;
    background-color: white;
    color: black;
}

.container {
    padding: 5vh clamp(5vw, -188.13px + 13.41vw, 150px) 15.5vh;
}

::selection {
    background-color: $bg-selection;
    color: $text-selection;
}

::-moz-selection {
    background-color: $bg-selection;
    color: $text-selection;
}