@use "./utils/variables" as *;
@use "./utils/mixins" as *;

@use 'utils/variables';
@use 'utils/mixins';
@use 'base/root';
@use 'base/animation';
@use 'ui/ui';
@use 'header/header';
@use 'pages/home';

@import "../assets/libs/fonts.css";
@import "../../node_modules/modern-normalize/modern-normalize.css";

// ============================================================
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    overflow-x: hidden;
    height: 100%;
    overflow-x: hidden;
    background-color: white;
    color: black;
}

::selection {
    background-color: $bg-selection;
    color: $text-selection;
}

::-moz-selection {
    background-color: $bg-selection;
    color: $text-selection;
}