@use "./utils/variables" as *;
@use "./utils/mixins" as *;

// Base
@use 'base/root';

// Section
@use 'sections/hero';
@use 'sections/specifics';
@use 'sections/materials';
@use 'sections/catalog.scss';

// Layout
@use 'layout/header';
@use 'layout/specificsHeader';
@use 'layout/materialsHeader';
@use 'layout/about';
@use 'layout/product';
@use 'layout/footer';

// UI
@use 'ui/loader/animated';
@use 'ui/loader/loader';
@use 'ui/ui';
@use 'ui/linkCatalog';

// Components
@use "components/showcase-card";
@use 'components/carousel';
@use 'components/tabs';
@use 'components/catalog-card';

// 404
@use 'layout/page404';


// Normalize Fonts
@import "../../node_modules/modern-normalize/modern-normalize.css";
@import "../assets/libs/fonts.css";


// ============================================================
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    overflow-x: hidden;
    height: 100%;
    overflow-x: hidden;
    background-color: white;
    color: black;
}

h1 {
    font-family: var(--font-heading);
}

body.menu-open {
    overflow: hidden;
}

.container {
    padding: 5vh clamp(5vw, -188.13px + 13.41vw, 150px) 15.5vh;
}

::selection {
    background-color: $bg-selection;
    color: $text-selection;
}

::-moz-selection {
    background-color: $bg-selection;
    color: $text-selection;
}

// Для скролла
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow-x: hidden;
    overflow-y: scroll;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}
